*.pkl
*.npz


*.png
*.mov
FastTools/*
FastTools/*
FastTools/DistancePlotGPU.3.toe
FastTools/DistancePlotGPU.toe
FastTools/DistancePlotGPU.3.toe
FastTools/DistancePlotGPU.toe
FastTools/DistancePlotGPU.3.toe
FastTools/DistancePlotGPU.3.toe
FastTools/DistancePlotGPU.toe
*.gz
